{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "printWidth": 135,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "none"
}
